*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	text-decoration: none;
}
body{
	background-color: #000;
	width: 100%;
	height: 100%;
}
.container{
	height: 350px;
	width: 250px;
	background-color: #fff;
	position: absolute;
	left:50%;
	top: 50%;
	transform: translate(-50%, -50%);
	perspective: 1000px;
}
.cover{
	height: 100%;
	width: 240px;
	position: absolute;
	left: 10px;
	background-color: pink;
	transform: rotateY(0deg);
	transform-style: preserve-3d;
	transform-origin: left;
	transition: all 0.5s ease-in; 
}
.container:hover >.cover{
	transform: rotateY(-180deg);
}